# Mode
NODE_ENV=

# Port
PORT=

# Secret Key
ENCRYPTION_KEY=

# Client
CLIENT_URL=
JSREPORT_URL=

#JS Report
JSREPORT_USER=dev
JSREPORT_PASS=devpass

# Database
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=
DB_DIALECT=